*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.secao-banner{
    width: 100vw;
    height: auto;
    padding: 120px 80px;
    background-image: url("/img/banner-topo.jpg");
    background-position: center;
    background-size: cover;
}

.secao-banner-segundo{
    max-width: 250px;
    color: #3c184e;
}

.p1-banner{
    font-size: 35px;
    margin-bottom: 5px;
}

.secao-banner-segundo img{
    width: 30px;
    margin-right: 5px;
}

.p2-banner{
    font-size: 14px;
    text-align: center;
}

.secao-banner-terceiro{
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px 0 #1f26875e;
}

.secao-banner-terceiro h1{
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin-bottom: 40px;
}

.secao-banner-terceiro p{
    width: 200px;
    padding: 10px 25px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #3c184e;
    font-size: 20px;
    text-align: center;
}

.secao-banner-terceiro a{
    text-decoration: none;
    color: #ffff;
}

.secao-banner-terceiro img{
    width: 20px;
}

.secao-servicos{
    width: 100vw;
    padding: 120px 80px;
}

.secao-servicos h3{
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin-bottom: 45px;
}

.secao-servicos-segundo{
    max-width: 800px;
    margin: 0 auto 50px;
    color: #3c184e;
    font-size: 20px;
}

.secao-servicos-segundo ul{
    list-style-type: square;    
}

.secao-servicos-segundo li{
    margin-bottom: 20px;
}

.secao-servicos-destaque{
    font-weight: 700;
    font-style: italic;
}

.secao-servicos-imagem{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px #0000005c;
}

.secao-redes-sociais{
    padding: 120px 80px;
    background-color: #3c184e;
    text-align: center;
}

.secao-redes-sociais p{
    max-width: 800px;
    margin: 0 auto 50px;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.secao-redes-sociais-links p{
    text-align: center;
    text-decoration: none;
}

.secao-redes-sociais-links img{
    width: 50px;
    height: 50px;
    margin: 0 20px 0;
}

.secao-marcas{
    width: 100vw;
    padding: 120px 80px;
}

.secao-marcas h3{
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px;
}

.secao-marcas-imagem{
    max-width: 800px;
    margin: 0 auto;
}

.secao-marcas-imagem img{
    width: 148px;
    height: 148px;
    margin: 0 15px 0;
}

.secao-onde-estamos{
    width: 100vw;
    padding: 120px 80px;
    text-align: center;
}

.secao-onde-estamos h3{
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px;
}

.secao-onde-estamos p{
    font-size: 20px;
    color: #3c184e;
    text-align: center;
    margin-bottom: 45px;
}

.secao-onde-estamos iframe{
    width: 800px;
    height: 450px;
}

.secao-rodape{
    width: 100vw;
    padding: 10px 0;
    background-color: #3c184e;
    color: #fff;
    font-size: 12px;
    text-align: center;
    
}

.secao-rodape a{
    color: #fff;
    text-decoration: none;
}